aiohttp==2.1.0
async-timeout==1.2.1
beautifulsoup4==4.6.0
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.4
colorama==0.3.9
discord.py==0.16.8
ffmpy==0.2.2
google==1.9.3
google-api-python-client==1.6.2
httplib2==0.10.3
idna==2.5
inbox.py==0.0.6
Logbook==1.0.0
multidict==3.1.0
oauth2client==4.1.0
overwatch-api==0.5
pkginfo==1.4.1
psutil==5.2.2
pyasn1==0.2.3
pyasn1-modules==0.0.8
pycparser==2.17
PyNaCl==1.0.1
python-sql==0.9
requests==2.18.1
requests-toolbelt==0.8.0
rsa==3.4.2
six==1.10.0
tqdm==4.14.0
twine==1.9.1
uritemplate==3.0.0
urllib3==1.21.1
websockets==3.3
WMI==1.4.9
yarl==0.10.2
youtube-dl==2017.5.18.1
